@{
    ViewData["Title"] = "Create";
}

<h1>New Message</h1>

@model ClientMessageBoard.Models.Message

@using(Html.BeginForm())
{
  @Html.LabelFor(m => m.MessageDate)
  @Html.TextBoxFor(m => m.MessageDate, new {@type="date"})

  @Html.LabelFor(m => m.MessageAuthor)
  @Html.TextBoxFor(m => m.MessageAuthor)

  @Html.LabelFor(m => m.Group)
  @Html.TextBoxFor(m => m.Group)

  @Html.LabelFor(m => m.MessagePost)
  @Html.TextBoxFor(m => m.MessagePost)

  <input type="submit" value="Post" class="btn btn-info">
}